hubot {
  name = "scalabot"

  listeners = ["test", "test2"]

  middleware = []

  adapter = "hipchat"

  brain = "mapdb"
  brainFile = "/tmp/brain.db"

}

hipchat {
  jid="111@chat.hipchat.com"
  password="somePass"
}
