hubot {
  name = "scalabot"

  listeners = ["org.dberg.hubot.listeners.TestListener", "org.dberg.hubot.listeners.TestListener2", "org.dberg.hubot.listeners.HelpListener"]

  middleware = []

  eventCallbacks = ["org.dberg.hubot.event.TestCallback"]

  adapter = "org.dberg.hubot.adapter.ShellAdapter"

  brain = "mapdb"
  brainFile = "/tmp/brain.db"

}

hipchat {
  jid="111@chat.hipchat.com"
  password="somePass"
  chatAlias = "ScalaBot" //cant be same as name, need to read XEP to see why
  rooms = [] //whitelist of rooms to join.  Defaults to every room if empty or not set, otherwise list the room jids to join here i.e. rooms = ["somenumber_somename@conf.hipchat.com"]
}
